@model IEnumerable<TravelPackage.Models.tpProducts>

@{
    ViewBag.Title = "Travel Tour Packages";
    ViewBag.metaTitle = "Travel|Vacation|Tour Packages " 
        + System.DateTime.Now.Year.ToString() + "-"
        + (System.DateTime.Now.Year+1).ToString();
}

<h2>Travel Tour Packages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PgFeatureImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpArea.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Product", "home", new { id = @item.Id, ProductName = @item.Name }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortRemarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PgFeatureImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.ActionLink("GO TO " + @item.tpArea.Name + " >>", "Destination", "Home", new { id = @item.tpAreasId, AreaName = @item.tpArea.Name }, null)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) | 
        </td>
    </tr>
}

</table>
