@model TravelPackage.Models.tpProducts

@{
    ViewBag.Title = "ProductCustom";
}

<h2>ProductCustom</h2>

<div>
    <h4>tpProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PgFeatureImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PgFeatureImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpArea.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
