@model TravelPackage.Models.tpProducts

@{
    ViewBag.Title = "Product";
    string sArea = ViewBag.DestName;
    string pgView = Model.PageView;

    List<TravelPackage.Models.tpProductImages> productImages = (List<TravelPackage.Models.tpProductImages>)ViewBag.ProdImages;
    List<TravelPackage.Models.tpProdRate> productRates = (List<TravelPackage.Models.tpProdRate>)ViewBag.ProdRate;
    TravelPackage.Models.WebInquiryForm InquiryObj = (TravelPackage.Models.WebInquiryForm)ViewBag.Inquiry;
    List<TravelPackage.Models.tpCategory> productCategories = (List<TravelPackage.Models.tpCategory>)ViewBag.ProductCategories;
    List<TravelPackage.Models.tpKeyword> productKeywords = (List<TravelPackage.Models.tpKeyword>)ViewBag.ProductKeywords;

    List<TravelPackage.Models.tpProducts> nearbyAds = (List<TravelPackage.Models.tpProducts>)ViewBag.NearbyAds;
    List<TravelPackage.Models.tpProducts> similarAds = (List<TravelPackage.Models.tpProducts>)ViewBag.SimilarAds;

    List<TravelPackage.Models.tpBacklink> backLinks = (List<TravelPackage.Models.tpBacklink>)ViewBag.Backlinks;
}

<div class="breadcrumbs10" style="background-color: #eeeeee;">
    <p>
        &raquo;
        @Html.ActionLink("HOME", "Index", null, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("DESTINATIONS", "Index", null, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink(@sArea, "Destination", new { id = ViewBag.DestId, AreaName = sArea }, new { @class = "btn btn-primary btn-sm" })
        @Model.Name&raquo;
    </p>
</div>

<div class="row">
    <div class="col-md-10">
        <h1>@Model.Name</h1>
        <h2 style="font-size:medium;">@ViewBag.subTitle</h2>
        <p class="lead">@Model.ShortRemarks</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        @{ Html.RenderPartial(pgView, Model); }
        @{ Html.RenderPartial("ProductRates", productRates); }
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("ProductInquiry", InquiryObj); }
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        @{ Html.RenderPartial("productImages", productImages); }
    </div>
</div>

@{ Html.RenderPartial("ProductCategories", productCategories); }
@{ Html.RenderPartial("ProductKeywords", productKeywords); }

<div class="row">
    <div class="col-md-4">
        @{ Html.RenderPartial("ProductNearby", nearbyAds); }
    </div>
    <div class="col-md-4">
        @{ Html.RenderPartial("ProductSimilarAds", similarAds); }
    </div>
    <div class="col-md-4">
        @{ Html.RenderPartial("ProductBacklinks", backLinks); }
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Destination", new { id = ViewBag.DestId, AreaName = sArea })
</p>


@section scripts {
    <script type="text/javascript" src="~/Scripts/TravelPackages/Product.js"></script>
}
