@model TravelPackage.Models.tpKeyword

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tpKeyword</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpProduct.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpProduct.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
